
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  height: 100vh;
  background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
}

.container{
  display: flex;
  justify-content: center;
}